[{kernel,
  [{distributed, [{kkn_test, 5000, [cp9@localhost, {cp1@localhost, cp2@localhost, cp3@localhost, 
cp4@localhost, cp5@localhost, cp6@localhost, cp7@localhost, cp8@localhost, cp10@localhost }]}]},
   {sync_nodes_mandatory, [cp1@localhost, cp2@localhost, cp3@localhost, 
cp4@localhost, cp5@localhost, cp6@localhost, cp7@localhost, cp8@localhost, cp10@localhost]},
   {sync_nodes_timeout, 5000}
  ]
 }
].